@media (max-width: 768px) {
    body{
        font-family:  Verdana, Geneva, Tahoma, sans-serif;
    }
    
    #navbar{
        
        display: flex;
        height: 5%;
        border-bottom: 1px solid black;
    
    }
    
    .part1{
        flex : 1;
        display: flex;
        align-items: center;
        padding-left: 5px;
    }
    
    
    .btn:hover{
        cursor: pointer;
    }
    
    .part1 > div{
        padding: 10px;
        background-color: #f2f2f2;
        border-radius: 5px;
    }
    
    .part2{
        flex : 2;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .part3{
        flex : 1.5;
        font-size: small;
        display: flex;
        align-items: center;
    }
    
    .part3 > div {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    #nd2{
        display: flex;
        border-bottom: 1px solid black;
        height: 5%;
        align-items: center;
    }

    #nd3{
        display: flex;
        border-bottom: 1px solid black;
        height: 7%;
        justify-content: center;
    }
    #nd3 > div:nth-child(1){
        width: 60%;
        border: black 1px solid;
        margin: 5px;
        text-align:justify;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    #nd3 > div:nth-child(2){
        width: 40%;
        border: black 1px solid;
        margin: 5px;
        font-size: large;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #nd4{
        display: flex;
        border-bottom: 1px solid black;
        height: 5%;
        justify-content: center;
        align-items: center;
        font-size: large;
    }

    #nd5{
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid black;
        height: 50%;
        justify-content: center;
        align-items: center;
        font-size: large;
    }

    #nd5 > div:nth-child(1){
        display: flex;
        border: 1px solid black;
        width: 80%;
        height: 70%;
    }
    #nd5 > div:nth-child(2){
        display: flex;
        border: 1px solid black;
        width: 80%;
        height: 20%;
    }

}





@media (min-width: 768px) {

    
    body{
        font-family:  Verdana, Geneva, Tahoma, sans-serif;
    }
    
    #navbar{
        
        display: flex;
        height: 5%;
        border-bottom: 1px solid black;
    
    }
    
    .part1{
        flex : 1;
        display: flex;
        align-items: center;
        padding-left: 5px;
    }
    
    
    .btn:hover{
        cursor: pointer;
    }
    
    .part1 > div{
        padding: 10px;
        background-color: #f2f2f2;
        border-radius: 5px;
    }
    
    .part2{
        flex : 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
    .part3{
        flex : 1;
        font-size: small;
        display: flex;
        align-items: center;
        justify-content: right;
    }
    
    .part3 > div {

        margin: 2%;
        display: flex;
        justify-content: center;
    }

    #nd2{
        display: flex;
        border-bottom: 1px solid black;
        height: 5%;
        align-items: center;
    }

    #nd3{
        display: flex;
        border-bottom: 1px solid black;
        height: 7%;
        justify-content: center;
        
    }
    #nd3 > div:nth-child(1){
        width: 30%;
        border: black 1px solid;
        margin: 5px;
        text-align:justify;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    #nd3 > div:nth-child(2){
        width: 30%;
        border: black 1px solid;
        margin: 5px;
        font-size: large;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #nd4{
        display: flex;
        border-bottom: 1px solid black;
        height: 5%;
        justify-content: center;
        align-items: center;
        font-size: large;
    }

    #nd5{
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid black;
        height: 50%;
        justify-content: center;
        align-items: center;
        font-size: large;
    }

    #nd5 > div:nth-child(1){
        display: flex;
        border: 1px solid black;
        width: 80%;
        height: 70%;
    }
    #nd5 > div:nth-child(2){
        display: flex;
        border: 1px solid black;
        width: 80%;
        height: 20%;
    }

}